.container {
  width: 640px;
  max-width: 100%;
  margin: 0 auto;
  color: var(--text-primary-color);
}

.number {
  text-align: center;
}

.status_done {
  color: var(--colors-interface-success);
}

.list {
  display: grid;
  gap: 16px;
  max-height: 312px;
  margin: 0;
  padding: 0;
  padding-right: 24px;
  overflow-y: auto;
  list-style: none;
}

.ingredient,
.footer,
.price {
  display: flex;
  align-items: center;
}

.ingredient {
  gap: 16px;
}

.image {
  position: relative;
  flex: 0 0 auto;
  width: 64px;
  height: 64px;
  overflow: hidden;
  background: var(--background-alt);
  border: 2px solid #801ab2;
  border-radius: 50%;
}

.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 112px;
  height: 56px;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.ingredientName {
  flex: 1;
}

.price {
  gap: 8px;
}

.footer {
  justify-content: space-between;
}
