.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image {
  width: 480px;
  height: 240px;
  object-fit: contain;
}

.nutrition_list {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nutrition_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  min-width: 100px;
}
